.article__practicalInfo {
  text-align: center;

  @media (--only-large-screen) {
    display: flex;
    align-items: center;
    text-align: left;
  }
}

.outLineRight {
  flex-direction: row-reverse;

}

.right {
  @media (--only-large-screen) {
    margin-left: 2rem;
  }
}

.left {
  @media (--only-large-screen) {
    margin-right: 5rem;
  }
}

.section__paragraph {
  width: 100%;
  line-height: var(--spacerBig);

  @media (--only-large-screen) {
    width: 100%;
  }
}

.button__2article {
  margin-bottom: var(--spacerBig);
}

.section__image {
  width: 60%;
  margin-top: 3rem;

  @media (--only-large-screen) {
    width: 80%;
  }
}

.smaller {
  width: 70%;

  @media (--only-large-screen) {
    width: 50%;
  }

}

.destination__image {
  @media (--only-large-screen) {
    margin-left: var(--spacerBig);
  }

}

.train__image {
  @media (--only-large-screen) {
    margin-right: var(--spacerBig);
  }
}
