.article__practicalInfo {
  text-align: center;

  @media (--only-large-screen) {
    display: flex;
    align-items: center;
    text-align: left;
  }
}

.outLineRight {
  flex-direction: row-reverse;

}

.right {
  @media (--only-large-screen) {
    margin-left: 2rem;
  }
}

.left {
  @media (--only-large-screen) {
    margin-right: 5rem;
  }
}

.section__paragraph {
  width: 100%;

  @media (--only-large-screen) {
    width: 100%;
  }
}

.section__image {
  width: 80%;
}
