.article__charity {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top:3rem;
}

.charity__wrappers {
  margin-bottom:2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  border-radius: 1.8rem;
  padding: .2rem .3rem 2rem .3rem;
  background-color: var(--colorBGDark);

  @media (--only-medium-screen) {
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    max-width: 65rem;
  }
}

.charity__info {
  padding: .1rem 2rem;
  margin-bottom: 1rem;

  @media (--only-medium-screen) {
    text-align: left;
  }
}

.charity__wrapper {
  @media (--only-medium-screen) {
    display: flex;
  }
}

.charity__wrapper--info {
  @media (--only-medium-screen) {
    display: flex;
    flex-direction: column;
  }
}

.charity__img--wrapper {
  border-radius: 1.8rem;
  display:flex;
  justify-content:center;
  align-items:center;

  background-color: var(--colorBGMain);
}

.charity__img{

}

.paracolor {
  color: var(--colorBGMain);
}

.smallerfont {
  font-size: .8rem;
}

