.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 4rem;
  padding-left: 4rem;
}

.navigation {
  display: none;

  @media (--only-medium-screen) {
    display: flex;
    align-items: center;
  }
}

.menu__item {
  margin: 2vw;

  @media (--only-large-screen) {
    margin: 5vw;
  }
}

.menu__items {
  display: flex;
  list-style-type: none;
}

.align {
  display: flex;
  align-items: center;
}

.header__wrapper {
  display: flex;

  @media (--only-small-screen) {
    justify-content: space-between;
  }
}

.menu__item__link {
  text-decoration: none;
  color: var(--navText);
}
