
.notVisible {
<<<<<<< HEAD
<<<<<<< HEAD

=======
  opacity: 20%;
  transition: ease-in-out all .3s;
>>>>>>> development
=======
  opacity: 20%;
  transition: ease-in-out all .3s;
>>>>>>> f5d901eb68f1640288521109d3dba7b1e411835e
}

.hidden {
  display: none;
}

.appear {
  display: block;
}

.video__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 3;
  background-color:#fff;
  top: 2000px;
  transition: ease-in-out all .8s;

  @media (--only-large-screen) {
    align-items: center;
  }

}

.container__up {
  top: 0;
}

.animation__container {
  display: grid;
  grid-template-columns: 45% 1fr 45%;
  grid-template-rows: 45% 1fr 45%;
}

.play {
  z-index: 3;
  grid-row: 2;
  grid-column: 2;
  width: 100%;
  transform: scale(1);
  transition: all ease-in-out .3s;
  cursor: pointer;
  transform-origin: center;

  @media (--only-large-screen) {
    margin-top: -6rem;

  }
}

.play:hover {
  transform: scale(1.1);
}

.cross {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  margin: 2rem;
  width: 3rem;
}

.cross:hover {
  opacity: 40%;
  cursor: pointer;

}

.stop-scrolling {
  overflow-y: hidden;
}

.video {
  width: 100%;
  margin-top: 10rem;

  @media (--only-large-screen) {
    width: 70%;

  }

}

#anim {
  width: 100%;
  z-index: 1;
  grid-row: 1/4;
  grid-column: 1/4;
}
