
html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-size: var(--fontRegular);
  background-color: var(--colorBGMain);
  color: var(--colorText);
  width: 100%;
  margin: auto;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
}
