.button {
  background: var(--colorSecondary);
  list-style-type: none;
  color: var(--colorLight);
  text-decoration: none;
  padding: var(--spacerSmall) var(--spacerRegular);
  border-radius: 1.5rem;
  text-transform: uppercase;
  transition: ease-in-out .2s;
}

.button__big {
  padding: var(--spacerRegular) var(--spacerBig);
  border-radius: 4rem;
}

.button:hover {
  background: var(--hoverButton);
}

.button__secondary {
  color: var(--colorSecondary);
  transition: .3s ease;
}

.button__secondary:hover {
  color: var(--hoverButton);
}
