body {
  font-family: var(--font);
  font-weight: var(--fontWeightRegular);
  font-size: var(--fontRegular);
}

.bold {
  font-weight: var(--fontWeightBold);
}

h1, .h1-like {
  /*.....*/
}

h2, .h2-like {
  font-family: var(--fontAlt);
  font-weight: var(--fontWeightAlt);
  font-size: var(--fontBig);
}

h3, .h3-like {
  font-family: var(--fontAlt);
  font-weight: var(--fontWeightAlt);
  font-size: var(--fontMedium);
}

.button {
  font-family: var(--fontButtons);
  font-weight: var(--fontWeightBold);
}

.button__small {
  font-size: var(--fontSmall);
}

.button__big {
  font-size: var(--fontMedium);
}
